.Contact {
  color: black;
}

.Contact-content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  font-size: 300%;
  width: 100%;
  size: 100%;
}

.Contact-github {
  height: 10%;
  width: 10%;
}

.Contact-github-logo {
  height: 8%;
  width: 8%;
  transition: all 0.2s ease-in-out;
}

.Contact-github-logo:hover {
  font-size: 200%;
  transform: scale(1.25);
  cursor: pointer;
}

.Contact-github-title {
  font-size: 100%;
  background-color: rgba(236, 208, 208, 0.144);
  border-radius: 5px;
  margin: 7%;
  font-family: Orbitron;
  text-shadow: 1px 1px 1px rgb(245, 223, 166);
  opacity: 1;
}

.Contact-linkedin {
  height: 15%;
  width: 15%;
  margin: 3%;
  transition: all 0.2s ease-in-out;
}

.Contact-linkedin:hover {
  font-size: 200%;
  transform: scale(1.5);
  cursor: pointer;
}

.Contact-title {
  border: 2px solid black;
  background-size: contain;
  color: black;
}

.Contact-category {
  position: fixed;
  top: 10;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
}

.Contact-name {
  font-family: 'Orbitron', monospace, Arial, Helvetica, sans-serif;
}

.Contact-body {
  font-size: 100%;
  /* border: 2px solid rgb(255, 255, 255); */
  background-color: rgba(236, 208, 208, 0.144);
  border-radius: 5px;
  margin: 5%;
  font-family: Orbitron;
  padding: 1%;
  text-shadow: 2px 2px 2px goldenrod;
  opacity: 1;
}

@media screen and (max-width: 645px) {
  .Contact-body {
  font-size: 50%;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(236, 208, 208, 0.425);
  border-radius: 5px;
  margin: 5%;
  font-family: Orbitron;
  text-shadow: 2px 2px 2px goldenrod;
  opacity: 1; 
  }
}

.Contact-email {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 2px goldenrod;
  font-size: 200%;
  margin-bottom: 6%;
  margin-top: 6%;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.Contact-email:hover {
  color: white;
  text-shadow: 2px 2px 2px goldenrod;
  font-size: 250%;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 645px) {
  .Contact-email {
    color: black;
  }
}

.Contact-samples {
  text-decoration: none;
  color: black;
  text-shadow: 2px 2px 2px goldenrod;
  font-size: 200%;
  font-weight: bolder;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.Contact-samples:hover {
  color: rgba(196, 68, 68, 0.425);
  text-shadow: 2px 2px 2px white;
  font-size: 400%;
  /* transform: scale(0.03%); */
  text-decoration: underline;
  cursor: pointer;
}

.Contact-me {
  font-family: 'Orbitron', monospace;
  transition: all 0.2s ease-in-out;
  color: white;
  text-shadow: 1px 1px 1px rgb(114, 113, 113);
}

.Contact-me:hover {
  color: white;
  text-shadow: 2px 2px 2px goldenrod;
  font-size: 200%;
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
}

.Contact-resources {
  display: inline-block;
  margin-bottom: 5%;
}

.Contact-samples {
  text-decoration: none;
}

.Contact-node {
  margin-bottom: 5%;
  background-size: contain;
}

.Contact-break {
  padding-bottom: 10%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  font-family: 'Orbitron', monospace, Arial, Helvetica, sans-serif;
}

.content3 {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  font-family: 'Orbitron', monospace, Arial, Helvetica, sans-serif;
}
