.Contact {
  color: black;
}

.Contact-content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  font-size: 300%;
  width: 100%;
  size: 100%;
}

.Contact-github {
  height: 10%;
  width: 10%;
}

.Contact-github-logo {
  height: 8%;
  width: 8%;
  transition: all 0.2s ease-in-out;
}

.Contact-github-logo:hover {
  font-size: 200%;
  transform: scale(1.25);
  cursor: pointer;
}

.Contact-github-title {
  color: white;
  text-shadow: 1px 1px 1px rgb(114, 113, 113);
  font-size: 30px;
}

.Contact-linkedin {
  height: 15%;
  width: 15%;
  margin: 3%;
  transition: all 0.2s ease-in-out;
}

.Contact-linkedin:hover {
  font-size: 200%;
  transform: scale(1.5);
  cursor: pointer;
}

.Contact-title {
  border: 2px solid black;
  background-size: contain;
  color: black;
}

.Contact-category {
  position: fixed;
  top: 10;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
}

.Contact-name {
  font-family: cursive;
}

.Contact-body {
  border-radius: 5px;
  background-size: contain;
  max-height: 50%;
  font-size: 80%;
  color: white;
  text-shadow: 1px 1px 1px rgb(114, 113, 113);
}

.Contact-email {
  /* text-decoration: underline; */
  color: white;
  text-shadow: 2px 2px 2px goldenrod;
  font-size: 200%;
  font-size: 100%;
  margin-bottom: 6%;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.Contact-email:hover {
  color: black;
  text-shadow: 2px 2px 2px goldenrod;
  font-size: 170%;
  transform: scale(0.03%);
  text-decoration: underline;
  cursor: pointer;
}

.Contact-me {
  transition: all 0.2s ease-in-out;
  color: white;
  text-shadow: 1px 1px 1px rgb(114, 113, 113);
}

.Contact-me:hover {
  color: white;
  text-shadow: 2px 2px 2px goldenrod;
  font-size: 200%;
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
}

.Contact-resources {
  display: inline-block;
  margin-bottom: 5%;
}

.Contact-node {
  margin-bottom: 5%;
}

.Contact-break {
  padding-bottom: 10%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  font-family: cursive;
}

.content3 {
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  font-family: cursive;
}
