#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

/*

Add content at the bottom of the video/page 

*/

.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  font-family: 'Orbitron', monospace, Arial, Helvetica, sans-serif;
  color: linen;
  text-shadow: 2px 2px 2px black;
}

.content2 {
  position: fixed;
  top: 10;
  color: white;
  text-shadow: 2px 2px 2px black;
  background: rgba(56, 54, 54, 0.5);
  width: 100%;
  font-family: 'Orbitron', monospace, Arial, Helvetica, sans-serif;
}

.content5 {
  font-family: 'Orbitron', monospace, Arial, Helvetica, sans-serif;
  transition: all .2s ease-in-out;
}

.content6 {
  transition: all .2s ease-in-out;
}

.content5:hover {
  color: white;
  text-shadow: 2px 2px 2px goldenrod;
  font-size: 200%;
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
}

.content6:hover {
  color: white;
  text-shadow: 2px 2px 2px goldenrod;
  font-size: 200%;
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
}

