.Card2 {
  background-origin: content-box;
  background-size:contain;
  background-position:center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.788);
  border-radius: 20px;
  position: absolute;
  max-width: 48%;
  max-height: 48%;
  width: 100%;
  height: 60%;
  cursor: pointer;
  will-change: transform, opacity;
  font-size: 100%;
}

.dback {
  background-image: url("./images/screenshot_01.png");
}

.dfront {
  background-image: url("./images/microblog1.png");
}

@media screen and (max-width: 645px) {
  .Card2, .dfront, .dback {
  max-width: 71%;
  max-height: 30%; 
  padding: 2%;
  margin-top: 93%;
  margin-left: 11%;
  background-color: rgba(0, 0, 0, 0.788);
  }
}

@media screen and (max-width: 768px) {
  .dfront {
    background-color: rgba(29, 28, 28, 0.466);
  }
}

@media screen and (max-width: 1024px) {
  .dback {
    background-color: transparent;
  }
}
