
.Card6 {
  /* border: 3px solid white; */
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;
  border-radius: 20px;
  position: absolute;
  max-width: 48%;
  max-height: 48%;
  width:100%;
  height:100%;
  cursor: pointer;
  will-change: transform, opacity;
  margin-left: 50%;
}

.hfront,
.hback {
  /* background-size: contain; */
}

.hback {
  background-image: url("./images/screenshot_02.png");
}

.hfront {
  background-image: url("./images/microblog1.png");
}

@media screen and (max-width: 645px) {
  .Card6, .hfront, .hback {
  max-width: 71%;
  max-height: 30%; 
  padding: 2%;
  margin-top: 92%;
  margin-left: 12%;
  background-color: rgba(0, 0, 0, 0.788);
  }
}